# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual env
venv/
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Mac
.DS_Store

# Python tooling
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# SQLite db
*.db
*.sqlite3
